// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 // Defining a variable
 $gray: #DDDDDD;
 $yellow: #FFFFE1;
 $blue: #337AB7;

 $font-stack: Helvetica, sans-serif;

 body {
   font: 100% Helvetica, sans-serif;
   padding-left: 15px;
 }

 #coach-answer{
   background-color: $yellow;
   border-left: 5px solid $gray;
   padding: 10px;
   margin: 5px;
}

 #your-question{
   border-left: 5px solid $gray;
   padding: 10px;
   margin: 5px;
 }

 form{
   margin-top: 15px;   
 }

 a {
    color: blue;
    padding-left: 15px;
    text-decoration: none;
    font-size: small;
    &:hover {
      color: black;
    }
  }

  #submit{
    background-color: $blue;
    color: white;
    padding: 5px;
    border-radius: 3px;
    border: 2px solid $blue;
  }

  #input{
    padding: 5px;
    border-radius: 3px;
    padding: 5px;
    border: 2px solid $gray;
    width: 40%;
  }
